* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
}
