/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
    interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* --------------------------------------------------- */

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template: min-content 2fr min-content / 1fr;
    justify-items: center;
    align-items: center;
}

main {
    display: grid;
    grid-template: 1fr min-content / 1fr;
    justify-items: center;
    align-items: center;
}

main > div[class="content"] {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: 1fr min-content / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

main > div[class="content"] > div[id="status"] {
    grid-area: 1 / 2 / 2 / 3;
}

main > div[class="content"] > div[id="boardGrid"] {
    grid-area: 2 / 2 / 3 / 3;
    width: 25rem;
    height: 25rem;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    /* border: 1px solid black; */
}

main > div[class="content"] > div[class="playerOne"] {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    justify-items: center;
}

main > div[class="content"] > div[class="playerTwo"] {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    justify-items: center;
}

div[id="boardGrid"] > .cell {
    padding: 0;
    border-radius: 0;
}

